<div class="demo-container">
  <dx-data-grid
    [dataSource]="employees"
    keyExpr="ID"
    [rowAlternationEnabled]="true"
    [columnAutoWidth]="true"
    [showBorders]="true"
    (onInitialized)="saveGridInstance($event)"
    (onInitNewRow)="onInitNewRow($event)"
    dataRowTemplate="dataRowTemplateName"
  >
    <dxi-data-grid-column
      dataField="Prefix"
      caption="Title"
      [width]="70"
    ></dxi-data-grid-column>
    <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="Position"></dxi-data-grid-column>
    <dxi-data-grid-column
      dataField="BirthDate"
      dataType="date"
    ></dxi-data-grid-column>
    <dxi-data-grid-column
      dataField="HireDate"
      dataType="date"
    ></dxi-data-grid-column>
    <dxi-data-grid-column [width]="160"></dxi-data-grid-column>
    <dxo-data-grid-toolbar>
      <dxi-data-grid-item location="after">
        <div *dxTemplate>
          <dx-button
            text="Add new item"
            stylingMode="text"
            (onClick)="addNewItem()"
          ></dx-button>
        </div>
      </dxi-data-grid-item>
    </dxo-data-grid-toolbar>

    <ng-container *dxTemplate="let employee of 'dataRowTemplateName'">
      <ng-container *ngIf="employee.isEditing">
        <edit-row-template
          style="display: contents"
          [employee]="employee"
          (onSaveButtonClick)="onSaveButtonClick()"
          (onCancelButtonClick)="onCancelButtonClick()"
          (onValueChanged)="onValueChanged($event)"
        ></edit-row-template>
      </ng-container>
      <ng-container *ngIf="!employee.isEditing">
        <data-row-template
          style="display: contents"
          [employee]="employee"
          (onEditButtonClick)="onEditButtonClick(employee.data.ID)"
          (onDeleteButtonClick)="onDeleteButtonClick(employee.data.ID)"
        ></data-row-template>
      </ng-container>
    </ng-container>
  </dx-data-grid>
</div>
