<tr>
    <td><%- data.Prefix %></td>
    <td><%- data.FirstName %></td>
    <td><%- data.LastName %></td>
    <td><%- data.Position %></td>
    <td><%- formatDate(new Date(data.BirthDate)) %></td>
    <td><%- formatDate(new Date(data.HireDate)) %></td>
    <td rowspan="2">
        @(Html.DevExtreme().Button()
            .Text("Edit")
            .OnClick("function() { editButtonClick(data); }")
        )
        @(Html.DevExtreme().Button()
            .Text("Delete")
            .OnClick("function() { deleteButtonClick(data); }")
        )
    </td>
</tr>
<tr class="notes-row">
    <td colspan="6">
        <div><%- data.Notes %></div>
    </td>
</tr>